<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Trang không tồn tại (404)</h2>
          <small class="sub-title">Trang mà bạn đang tìm không tồn tại, vui lòng thử lại!</small>
          <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
            Về trang chủ
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>