<p>categories works!</p>

<nb-card>
    <nb-card-body>
        <div class="container">
            <!-- Form để thêm danh mục mới -->
            <div class="card my-2">
                <div class="card-body">
                    <h3 class="card-title">Thêm / Cập nhật danh mục</h3>
                    <form>
                        <div class="form-group my-3">
                            <label for="categoriesName">Tên danh mục:</label>
                            <input type="text" class="form-control" id="categoriesName" formControlName="name">
                            <div class="text-danger">
                                <small>
                                    Vui lòng nhập tên danh mục.
                                </small>
                            </div>
                        </div>





                        <button type="submit" class="btn btn-primary float-end">Lưu</button>
                        <!-- Nút hủy chỉnh sửa -->
                        <button type="button" class="btn btn-secondary float-end mx-2">Reset</button>
                    </form>

                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <h3 class="card-title">Danh sách danh mục</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên danh mục</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let product of products">
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ formatCurrency(product.price) }}</td>
                                    <td>{{ formatCurrency(product.sale_price) }}</td>
                                    <td><img src="../../../../assets/images/{{product.image}}" alt="{{ product.name }}"
                                            style="max-width: 100px;"></td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning btn-sm mr-2 mx-1"
                                                >Sửa</button>
                                            <button type="button" class="btn btn-danger btn-sm"
                                               >Xóa</button>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>