<nb-card>
    <nb-card-body>
        <div class="container">
            <!-- Form để thêm khách hàng mới -->
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Thêm / Cập nhật khách hàng</h5>
                    <form>
                        <div class="form-group my-3">
                            <label for="customersName" class="my-1">Tên khách hàng:</label>
                            <input type="text" class="form-control" id="customersName" formControlName="name">
                            <div class="text-danger">
                                <small>
                                    Vui lòng nhập tên khách hàng.
                                </small>
                            </div>
                        </div>
                        <div class="form-group my-3">
                          <label for="customersName" class="my-1">Email:</label>
                          <input type="text" class="form-control" id="customersEmail" formControlName="email">
                          <div class="text-danger">
                              <small>
                                  Vui lòng nhập Email
                              </small>
                          </div>
                      </div>
                        <div class="form-group my-3">
                            <label for="number" class="my-1">Số điện thoại:</label>
                            <input type="text" class="form-control" id="customersTel" formControlName="tel">
                            <div class="text-danger">
                                <small>
                                    Vui lòng nhập số điện thoại
                                </small>
                            </div>
                        </div>
                        <div class="form-group my-3">
                            <label for="customersName" class="my-1">Địa chỉ:</label>
                            <input type="text" class="form-control" id="customersAddress" formControlName="address">
                            <div class="text-danger">
                                <small>
                                    Vui lòng nhập địa chỉ
                                </small>
                            </div>
                          </div>
                          <button nbButton type="submit" class="float-end" status="success"
                          nbTooltip="Lưu dữ liệu">
                          <i class="fa-solid fa-check"></i>
                      </button>

                        <!-- Nút hủy chỉnh sửa -->
                        <button nbButton status="warning" type="button" class=" float-end mx-2"
                        nbTooltip="Reset dữ liệu">
                        <i class="fa-solid fa-rotate-left"></i></button>                    </form>

                </div>
            </div>
            <div class="card my-lg-5">
                <div class="card-body">
                    <h5 class="card-title">Danh sách khách hàng</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="table-secondary">
                                <tr>
                                    <th>ID</th>
                                    <th>Tên khách hàng</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                              <td>1</td>
                              <td>Nguyễn Văn A</td>
                              <td>nva@gmail.com</td>
                              <td>0998999222</td>
                              <td>Hà Nội</td>
                              <td>
                                  <div class="btn-group">
                                      <button nbButton status="primary" type="button" class="btn-sm mr-2 mx-1"
                                         nbTooltip="Sửa dữ liệu"><i
                                              class="fa-solid fa-pen-to-square"></i></button>
                                      <button nbButton status="danger" type="button" class="btn-sm"
                                          nbTooltip="Xóa dữ liệu"><i
                                              class="fa-solid fa-trash"></i></button>
                                  </div>
                              </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
