<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <div class="container">
                    <h1 id="title" class="title">Đặt lại mật khẩu</h1>
                    <ngx-alerts [messages]="alertMessages"></ngx-alerts>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" aria-labelledby="title">
                        <div class="form-control-group mb-3">
                            <label class="label" for="newPassword">Mật khẩu mới:</label>
                            <input nbInput fullWidth formControlName="newPassword" type="password" required
                                id="newPassword" placeholder="Nhập mật khẩu mới" class="form-control" status="warning">
                            <div
                                *ngIf="resetPasswordForm.get('newPassword').invalid && (resetPasswordForm.get('newPassword').dirty || resetPasswordForm.get('newPassword').touched)">
                                <small *ngIf="resetPasswordForm.get('newPassword').hasError('required')"
                                    class="text-danger">
                                    Vui lòng nhập mật khẩu mới.
                                </small>
                                <small *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')"
                                    class="text-danger">
                                    Mật khẩu mới phải có ít nhất 8 ký tự.
                                </small>
                            </div>
                        </div>
                        <div class="form-control-group mb-3">
                            <label class="label" for="confirmPassword">Xác nhận mật khẩu:</label>
                            <input nbInput fullWidth formControlName="confirmPassword" type="password" required
                                id="confirmPassword" placeholder="Nhập lại mật khẩu mới" class="form-control"
                                status="warning">
                            <div
                                *ngIf="resetPasswordForm.get('confirmPassword').invalid && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
                                <small *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')"
                                    class="text-danger">
                                    Vui lòng xác nhận mật khẩu mới.
                                </small>
                                <small *ngIf="resetPasswordForm.get('confirmPassword').hasError('minlength')"
                                    class="text-danger">
                                    Mật khẩu mới phải có ít nhất 8 ký tự.
                                </small>
                                <small *ngIf="resetPasswordForm.hasError('passwordMismatch')" class="text-danger">
                                    Mật khẩu không khớp.
                                </small>
                            </div>
                        </div>
                        <button nbButton type="submit" class="mb-3" status="warning" [disabled]="!resetPasswordForm.valid">Lưu</button>
                    </form>

                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>