<nb-card>
    <nb-card-header>
        <h5 class="card-title">Danh sách vai trò</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="container">
            <!-- Danh sách vai trò -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên vai trò</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let product of products">
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ formatCurrency(product.price) }}</td>
                                        <td>{{ formatCurrency(product.sale_price) }}</td>
                                        <td><img src="../../../../assets/images/{{product.image}}" alt="{{ product.name }}"
                                                style="max-width: 100px;"></td>
                                        <td>
                                            <div class="btn-group">
                                                <button nbButton status="primary" type="button" class="btn-sm mr-2 mx-1"
                                                    (click)="editProduct(product.id)" nbTooltip="Sửa dữ liệu"><i
                                                        class="fa-solid fa-pen-to-square"></i></button>
                                                <button nbButton status="danger" type="button" class="btn-sm"
                                                    (click)="deleteProduct(product.id)" nbTooltip="Xóa dữ liệu"><i
                                                        class="fa-solid fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!-- Form để thêm vai trò mới -->
<nb-card class="my-lg-2">
    <nb-card-header>
        <h5 class="card-title">Thêm / Cập nhật vai trò</h5>
    </nb-card-header>
    <nb-card-body>
        <form>
            <div class="form-group my-3">
                <label for="categoriesName">Tên vai trò:</label>
                <input type="text" class="form-control" id="categoriesName" formControlName="name">
                <div class="text-danger">
                    <small>
                        Vui lòng nhập tên vai trò.
                    </small>
                </div>
            </div>

            <button nbButton type="submit" class="float-end" status="success" nbTooltip="Lưu dữ liệu">
                <i class="fa-solid fa-check"></i>
            </button>

            <!-- Nút hủy chỉnh sửa -->
            <button nbButton status="warning" type="button" class="float-end mx-2" nbTooltip="Reset dữ liệu">
                <i class="fa-solid fa-rotate-left"></i></button>
        </form>
    </nb-card-body>
</nb-card>