<!-- Danh sách sản phẩm -->
<nb-card>
    <nb-card-header class="d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">Danh sách sản phẩm</h5>
        <form class="d-flex" (ngSubmit)="onSearch()">
            <input class="form-control me-2" type="search" placeholder="Tìm kiếm" [(ngModel)]="searchQuery"
                name="searchQuery" aria-label="Search">
            <button type="submit" nbButton status="primary">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá niêm yết</th>
                        <th>Giá khuyến mãi</th>
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products, let index = index">
                        <td class="align-middle">{{ index + 1 }}</td>
                        <td class="align-middle">{{ product.name }}</td>
                        <td class="align-middle">{{ formatCurrency(product.price) }}</td>
                        <td class="align-middle">{{ formatCurrency(product.sale_price) }}</td>
                        <td class="align-middle text-center">
                            <img src="../../../../assets/images/{{product.image}}" alt="{{ product.name }}" width="80px"
                                height="100px">
                        </td>
                        <td class="align-middle">
                            <span *ngIf="product.status === 1" class="text-success">Đang bán</span>
                            <span *ngIf="product.status === 0" class="text-danger">Tạm ngưng kinh doanh</span>
                        </td>
                        <td class="align-middle text-center">
                            <div class="btn-group d-flex justify-content-center">
                                <button nbButton status="primary" type="button" class="btn-sm mx-1 btn-equal"
                                    (click)="editProduct(product.id)" nbTooltip="Sửa dữ liệu">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button nbButton status="danger" type="button" class="btn-sm mx-1 btn-equal"
                                    (click)="deleteProduct(product.id)" nbTooltip="Xóa dữ liệu">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <ngx-paginator [apiUrl]="apiUrl" [current_page]="currentPage" [last_page]="totalPages"
                (dataList)="loadProducts($event)">
            </ngx-paginator>
        </div>
    </nb-card-body>
</nb-card>

<!-- Thêm / Cập nhật sản phẩm -->
<nb-card class="mt-3">
    <nb-card-header>
        <h5 class="card-title">Thêm / Cập nhật sản phẩm</h5>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="addProduct()" #formElement>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group my-3">
                        <label for="productName" class="my-1">Tên sản phẩm<span class="spot">*</span>:</label>
                        <input type="text" class="form-control" id="productName" [(ngModel)]="newProduct.name"
                            formControlName="name">
                        <div *ngIf="form.get('name').invalid && form.get('name').touched" class="text-danger">
                            <small *ngIf="form.get('name').hasError('required')">Vui lòng nhập tên sản phẩm.</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group my-3">
                        <label for="productImage" class="my-1">Hình ảnh sản phẩm<span class="spot">*</span>:</label>
                        <input type="file" class="form-control" id="productImage" name="productImage"
                            formControlName="image" (change)="onImageSelected($event)">
                        <div *ngIf="form.get('image').invalid && form.get('image').touched" class="text-danger">
                            <small *ngIf="form.get('image').hasError('required')">Vui lòng chọn hình ảnh sản
                                phẩm.</small>
                            <small *ngIf="form.get('image').hasError('invalidFormat')">Định dạng file không hợp
                                lệ.</small>
                            <small *ngIf="form.get('image').hasError('invalidSize')">Kích thước file vượt quá giới
                                hạn.</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group my-3">
                        <label for="productPrice" class="my-1">Giá niêm yết<span class="spot">*</span>:</label>
                        <input type="number" class="form-control" id="productPrice" [(ngModel)]="newProduct.price"
                            formControlName="price" placeholder="đ">
                        <div *ngIf="form.get('price').invalid && form.get('price').touched" class="text-danger">
                            <small *ngIf="form.get('price').hasError('required')">Vui lòng nhập giá niêm yết.</small>
                            <small *ngIf="form.get('price').hasError('min')">Giá niêm yết không được nhỏ hơn 0.</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group my-3">
                        <label for="productSalePrice" class="my-1">Giá khuyến mãi<span class="spot">*</span>:</label>
                        <input type="number" class="form-control" id="productSalePrice"
                            [(ngModel)]="newProduct.sale_price" formControlName="sale_price" placeholder="đ">
                        <div *ngIf="form.get('sale_price').invalid && form.get('sale_price').touched && form.get('sale_price').dirty"
                            class="text-danger">
                            <small *ngIf="form.get('sale_price').hasError('required')">Vui lòng nhập giá khuyến
                                mãi.</small>
                            <small *ngIf="form.get('sale_price').hasError('min')">Giá khuyến mãi không được nhỏ hơn
                                0.</small>
                            <small *ngIf="form.get('sale_price').hasError('salePriceInvalid')">Giá khuyến mãi không được
                                lớn hơn giá niêm yết.</small>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group my-3">
                        <label for="cateOption" class="my-1">Danh mục sản phẩm<span class="spot">*</span>:</label>
                        <select class="form-control" id="cateOption" formControlName="category_id">
                            <option value="" disabled selected>Vui lòng chọn danh mục</option>
                            <option *ngFor="let category of categoryData" [value]="category.id">{{ category.name }}
                            </option>
                        </select>
                        <div *ngIf="form.get('category_id').invalid && form.get('category_id').touched"
                            class="text-danger">
                            <small>Vui lòng chọn một danh mục sản phẩm.</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group my-3">
                        <label for="status" class="my-1">Trạng thái:</label>
                        <select class="form-control" id="status" formControlName="status"
                            [(ngModel)]="newProduct.status">
                            <option disabled selected>-- Chọn trạng thái --</option>
                            <option value="1">Đang kinh doanh</option>
                            <option value="0">Ngừng kinh doanh</option>
                        </select>
                    </div>
                </div>
            </div>
            <button nbButton type="submit" class="float-end" [disabled]="!form.valid" status="success"
                nbTooltip="Lưu dữ liệu">
                <i class="fa-solid fa-check"></i>
            </button>
            <button nbButton status="warning" type="button" class="float-end mx-2" (click)="Reset()"
                nbTooltip="Reset dữ liệu">
                <i class="fa-solid fa-rotate-left"></i>
            </button>
        </form>
    </nb-card-body>
</nb-card>