<!-- Danh sách bill -->
<nb-card [ngClass]="currentTheme">
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">Danh sách bill</h5>
    <form class="d-flex" (ngSubmit)="onSearch()">
      <input class="form-control me-2" type="search" placeholder="Tìm kiếm" [(ngModel)]="searchQuery" name="searchQuery" aria-label="Search">
      <button type="submit" nbButton status="primary">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Mã sản phẩm</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Tên khách hàng</th>
            <th>Nhân viên</th>
            <th>Mã voucher</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of bills; let i = index">
            <td class="align-middle">{{ i + 1 }}</td>
            <td class="align-middle">{{ getProductName(bill.product_id)?.name }}</td>
            <td class="align-middle">{{ bill.qty }}</td>
            <td class="align-middle">{{ formatCurrency(bill.total) }}</td>
            <td class="align-middle">{{ bill.customer_name }}</td>
            <td class="align-middle">{{ getEmployeeName(bill.employee_id) }}</td>
            <td class="align-middle">{{ bill.voucher_code }}</td>
            <td class="align-middle text-center">
              <div class="btn-group d-flex justify-content-center">
                <button nbButton status="primary" type="button" class="btn-sm mx-1 btn-equal"
                    (click)="editBill(bill.id)" nbTooltip="Sửa dữ liệu">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button nbButton status="danger" type="button" class="btn-sm mx-1 btn-equal"
                    (click)="deleteBill(bill.id)" nbTooltip="Xóa dữ liệu">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ngx-paginator [apiUrl]="apiUrl" [current_page]="currentPage" [last_page]="totalPages" (dataList)="loadBills($event)"></ngx-paginator>
    </div>
  </nb-card-body>
</nb-card>

<!-- Thêm / Cập nhật bill -->
<nb-card class="mt-3" [ngClass]="currentTheme">
  <nb-card-header>
    <h5 class="card-title">Thêm / Cập nhật hóa đơn</h5>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="addBill()" #formElement>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group my-3">
            <label for="productId">Mã sản phẩm<span class="spot">*</span>:</label>
            <select class="form-control" id="productId" formControlName="product_id">
              <option value="" disabled selected>Chọn mã sản phẩm</option>
              <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
            </select>
            <div *ngIf="form.get('product_id').invalid && form.get('product_id').touched" class="text-danger">
              <small *ngIf="form.get('product_id').hasError('required')">Vui lòng chọn mã sản phẩm.</small>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group my-3">
            <label for="qty">Số lượng<span class="spot">*</span>:</label>
            <input type="number" class="form-control" id="qty" formControlName="qty">
            <div *ngIf="form.get('qty').invalid && form.get('qty').touched" class="text-danger">
              <small *ngIf="form.get('qty').hasError('required')">Vui lòng nhập số lượng.</small>
              <small *ngIf="form.get('qty').hasError('min')">Số lượng phải lớn hơn 0.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group my-3">
            <label for="customerId">Tên khách hàng<span class="spot">*</span>:</label>
            <input type="text" class="form-control" id="customerId" formControlName="customer_name">
            <div *ngIf="form.get('customer_name').invalid && form.get('customer_name').touched" class="text-danger">
              <small *ngIf="form.get('customer_name').hasError('required')">Vui lòng nhập tên khách hàng.</small>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group my-3">
            <label for="employeeId">Mã nhân viên<span class="spot">*</span>:</label>
            <select class="form-control" id="employeeId" formControlName="employee_id">
              <option value="" disabled selected>Chọn mã nhân viên</option>
              <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
            </select>
            <div *ngIf="form.get('employee_id').invalid && form.get('employee_id').touched" class="text-danger">
              <small *ngIf="form.get('employee_id').hasError('required')">Vui lòng chọn mã nhân viên.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group my-3">
            <label for="voucherId">Mã voucher:</label>
            <input type="text" class="form-control" id="voucherCode" formControlName="voucher_code" placeholder="Nhập voucher giảm giá">
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12">
          <p class="my-3">
            Tạm tính tiền hàng: <span>{{ formatCurrency(provisionalTotal) }}</span>
          </p>
          <p class="my-3">
            Tiền giảm của voucher (nếu có): <span>{{ formatCurrency(discountAmount) }}</span>
          </p>
          <p class="my-3 font-weight-bold">
            <strong> Thành tiền: <span>{{ formatCurrency(finalTotal) }}</span> </strong>
          </p>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <button nbButton status="warning" type="button" class="float-end mx-2" (click)="resetForm()" nbTooltip="Reset dữ liệu">
          <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button nbButton type="submit" class="float-end" [disabled]="!form.valid" status="success" nbTooltip="Lưu dữ liệu">
          <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
